# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\javacourse-redis-in-action-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
